### Assignment 1 Starter Code
**Note:** your records counts will be different, depending on when you query the API

In [1]:
import pandas as pd
import requests

In [2]:
%%time

# Define the API endpoint and parameters
url = "https://data.cityofchicago.org/resource/cwig-ma7x.json"

# Fetch the total count of records
def get_total_count(url):
    params = {
        "$select": "count(*)"
    }
    response = requests.get(url, params=params)
    data = response.json()
    return int(data[0]['count'])

total_count = get_total_count(url)
print(f"Total number of records available: {total_count:,.0f}")

Total number of records available: 252,386
CPU times: user 40.7 ms, sys: 726 µs, total: 41.4 ms
Wall time: 694 ms

In [4]:
%%time

# Fetch data and load it into a pandas DataFrame
def fetch_data(url, params):
    response = requests.get(url, params=params)
    data = response.json()
    return pd.DataFrame(data)

# Set the limit parameter equal to the number of available records
params = {
    "$limit": total_count
}

# Fetch the data and load it into a DataFrame
df = fetch_data(url, params)

print(f'Number of records retrieved: {df.shape[0]:,.0f}')

Number of records retrieved: 252,386
CPU times: user 9.32 s, sys: 1.57 s, total: 10.9 s
Wall time: 38.8 s

In [5]:
df.head(5)

,inspection_id,dba_name,aka_name,license_,facility_type,risk,address,city,state,zip,...,results,violations,latitude,longitude,location,:@computed_region_awaf_s7ux,:@computed_region_6mkv_f3dw,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu
0,2574172,J + L FAMILY LEARNING DAYCARE CENTER,J + L FAMILY LEARNING DAYCARE CENTER,2220707,Daycare Above and Under 2 Years,Risk 1 (High),11638-11640 S WENTWORTH AVE,CHICAGO,IL,60628,...,Pass,47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,41.68225833336412,-87.62773601885556,"{'type': 'Point', 'coordinates': [-87.62773601...",45,21861,50,255,22
1,2574195,NEW PARADISE BAKERY,NEW PARADISE BAKERY,2831624,Bakery,Risk 1 (High),5742-5744 N MILWAUKEE AVE,CHICAGO,IL,60630,...,Fail,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.98580160371477,-87.77716403422917,"{'type': 'Point', 'coordinates': [-87.77716403...",20,22532,11,701,50
2,2574182,JOE & THE JUICE NEW YORK LLC,JOE & THE JUICE,2578419,NaN,Risk 1 (High),412 N WELLS ST,CHICAGO,IL,60654,...,Fail,2. CITY OF CHICAGO FOOD SERVICE SANITATION CER...,41.889647025824154,-87.63416925556209,"{'type': 'Point', 'coordinates': [-87.63416925...",22,4446,37,652,36
3,2574187,LITTLE GREEN TREE HOUSE,LITTLE GREEN TREE HOUSE,2216214,Children's Services Facility,Risk 1 (High),3111 N ASHLAND AVE,CHICAGO,IL,60657,...,Pass w/ Conditions,"1. PERSON IN CHARGE PRESENT, DEMONSTRATES KNOW...",41.938253305553516,-87.66846320182256,"{'type': 'Point', 'coordinates': [-87.66846320...",16,4449,57,712,40
4,2574196,TACOS EL REY,TACOS EL REY,2900956,Restaurant,Risk 3 (Low),9625 S EWING AVE,CHICAGO,IL,60617,...,Pass,NaN,41.720590461950856,-87.53514240131703,"{'type': 'Point', 'coordinates': [-87.53514240...",47,21202,49,705,47